/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 
  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 20 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Redoing the styling for revision sake */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* According to my calculations, the product-card should take 42% of the width of the viewport */

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.product-information {
  margin: 2rem 2rem 2rem 0;
}

.product-card {
  background-color: hsl(0, 0%, 100%);
  max-width: 42vw;
  display: flex;
  /* object-fit: fill; */
  /* Threshold concept: trimming image edges using border-radius of parent */
  border-radius: 0.75rem;
  overflow: hidden;
  gap: 2rem;
}

.product-image {
  max-width: 50%;
}

.product-subheading {
  /* IDIOT YOU CAN'T ADD MARGIN TO INLINE */
  display: inline-block;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

.product-heading {
  margin-top: 1rem;
  /* 40px */
  font-size: 2rem;
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  padding-right: 4rem;
  line-height: 1.1;
}

.product-desc {
  margin-top: 2rem;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.price {
  /* added 20px to the spacing system */
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.product-price {
  font-family: "Fraunces", serif;
  font-size: 2.25rem;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

.product-previous-price {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-weight: 500;
}

.icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.product-purchase-button {
  border: none;
  vertical-align: middle;
  margin-top: 1.75rem;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-family: "Monstserrat", sans-serif;
  font-weight: 700;
  background-color: hsl(158, 36%, 37%);
  padding: 1rem 0;
  border-radius: 0.5rem;
  width: 100%;
}
/* 



















 */

/*

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.product-card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  border-radius: 0.5rem;
  width: 40vw;
}

.product-image {
  width: 50%;
  border-radius: 0.5rem 0 0 0.5rem;
}

.product-information {
  padding: 1.5rem;
  width: 50%;
}

.product-subheading {
  display: inline-block;
  color: hsla(228, 12%, 48%, 1);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.product-heading {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

.product-desc {
  font-family: "Montserrat", sans-serif;
  color: hsla(228, 12%, 48%, 1);
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.75rem;
}

.product-price {
  font-family: "Fraunces", serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.product-previous-price {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 500;
  color: hsla(228, 12%, 48%, 1);
  padding-top: 0.125rem;
  text-decoration: line-through;
}

.product-purchase-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: 0px;
  width: 100%;
  transition: 800ms;
}

.product-purchase-button:hover {
  background-color: hsl(159, 38%, 23%);
}

@media() {
}

@media (max-width: 76em) {
  .product-card {
    width: 60vw;
    height: 40vw;
  }
}

@media (max-width: 24em) {
  .product-subheading {
    margin-bottom: 0.75rem;
  }

  .product-card {
    flex-direction: column;
    height: 100vh;
    width: 90vw;
  }

  .product-information {
    display: inline-block;
    width: 100%;
  }

  .product-heading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .product-image {
    width: 100%;
    max-height: 50%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .product-desc {
    font-size: 0.825rem;
    margin-bottom: 1.25rem;
  }
}
*/
